[Desktop Entry]
Name=РОСПО-Город-1

X-KDE-PluginInfo-Name=ROSPO-NewYear
X-KDE-PluginInfo-Author=Sadrlimanov Ramil Rashitovich
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
